import pandas as pd

In [248]:
df = pd.read_csv('data/laptops.csv')

In [249]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [250]:
df.shape

(2160, 12)

In [251]:
df['Brand'].nunique()

27

In [252]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

In [253]:
Dell_laptop = df[df['Brand'] == 'Dell']

In [254]:
max(Dell_laptop['Final Price'])

3936.0

In [255]:
df['Screen'].median()

15.6

In [256]:
df['Screen'].mode()[0]

np.float64(15.6)

In [257]:
df['Screen'] = df['Screen'].fillna(df['Screen'].mode()[0])

In [258]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [259]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

In [260]:
df['Storage type'] = df['Storage type'].fillna(df['Storage type'].mode()[0])

In [261]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type       0
GPU             1371
Screen             0
Touch              0
Final Price        0
dtype: int64

In [262]:
df['GPU'] = df['GPU'].fillna(df['GPU'].mode()[0])

In [263]:
df.isnull().sum()

Laptop          0
Status          0
Brand           0
Model           0
CPU             0
RAM             0
Storage         0
Storage type    0
GPU             0
Screen          0
Touch           0
Final Price     0
dtype: int64

In [264]:
df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,RTX 3050,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,RTX 3050,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,RTX 3050,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,RTX 3050,15.6,No,669.01

In [265]:
df.drop('Laptop', axis=1)

,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,RTX 3050,15.6,No,1009.00
1,New,Alurin,Go,Intel Celeron,8,256,SSD,RTX 3050,15.6,No,299.00
2,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,RTX 3050,15.6,No,789.00
3,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,New,HP,15S,Intel Core i5,16,512,SSD,RTX 3050,15.6,No,669.01
...,...,...,...,...,...,...,...,...,...,...,...
2155,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3060,17.3,No,2699.99
2156,Refurbished,Razer,Blade,Intel Core i7,16,1000,SSD,RTX 3070,17.3,No,2899.99
2157,Refurbished,Razer,Blade,Intel Core i7,32,1000,SSD,RTX 3080,17.3,No,3399.99
2158,Refurbished,Razer,Book,Intel Evo Core i7,16,1000,SSD,RTX 3050,13.4,Yes,1899.99
2159,Refurbished,Razer,Book,Intel Evo Core i7,16,256,SSD,RTX 3050,13.4,Yes,1699.99

In [266]:
df = df.drop('Laptop', axis=1)

In [267]:
df.head()

,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,RTX 3050,15.6,No,1009.00
1,New,Alurin,Go,Intel Celeron,8,256,SSD,RTX 3050,15.6,No,299.00
2,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,RTX 3050,15.6,No,789.00
3,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,New,HP,15S,Intel Core i5,16,512,SSD,RTX 3050,15.6,No,669.01

In [268]:
data = df.copy()

In [269]:
data.head()

,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,RTX 3050,15.6,No,1009.00
1,New,Alurin,Go,Intel Celeron,8,256,SSD,RTX 3050,15.6,No,299.00
2,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,RTX 3050,15.6,No,789.00
3,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,New,HP,15S,Intel Core i5,16,512,SSD,RTX 3050,15.6,No,669.01

In [270]:
data.dtypes

Status           object
Brand            object
Model            object
CPU              object
RAM               int64
Storage           int64
Storage type     object
GPU              object
Screen          float64
Touch            object
Final Price     float64
dtype: object

In [272]:
data.select_dtypes('object')

,Status,Brand,Model,CPU,Storage type,GPU,Touch
0,New,Asus,ExpertBook,Intel Core i5,SSD,RTX 3050,No
1,New,Alurin,Go,Intel Celeron,SSD,RTX 3050,No
2,New,Asus,ExpertBook,Intel Core i3,SSD,RTX 3050,No
3,New,MSI,Katana,Intel Core i7,SSD,RTX 3050,No
4,New,HP,15S,Intel Core i5,SSD,RTX 3050,No
...,...,...,...,...,...,...,...
2155,Refurbished,Razer,Blade,Intel Core i7,SSD,RTX 3060,No
2156,Refurbished,Razer,Blade,Intel Core i7,SSD,RTX 3070,No
2157,Refurbished,Razer,Blade,Intel Core i7,SSD,RTX 3080,No
2158,Refurbished,Razer,Book,Intel Evo Core i7,SSD,RTX 3050,Yes
2159,Refurbished,Razer,Book,Intel Evo Core i7,SSD,RTX 3050,Yes

In [273]:
from sklearn.preprocessing import LabelEncoder

In [274]:
le = LabelEncoder()

In [275]:
data['Status'] = le.fit_transform(data['Status'])

In [276]:
data['Brand'] = le.fit_transform(data['Brand'])

In [277]:
data['Model'] = le.fit_transform(data['Model'])

In [278]:
data['CPU'] = le.fit_transform(data['CPU'])

In [279]:
data['Storage type'] = le.fit_transform(data['Storage type'])

In [280]:
data['GPU'] = le.fit_transform(data['GPU'])

In [281]:
data['Touch'] = le.fit_transform(data['Touch'])

In [282]:
data.dtypes

Status            int64
Brand             int64
Model             int64
CPU               int64
RAM               int64
Storage           int64
Storage type      int64
GPU               int64
Screen          float64
Touch             int64
Final Price     float64
dtype: object

In [283]:
from sklearn.model_selection import train_test_split

In [284]:
x = data.drop(['Final Price'], axis = 1)

In [285]:
y = data['Final Price']

In [288]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [289]:
from sklearn.linear_model import LinearRegression