In [19]:
import pandas as pd

In [20]:
df = pd.read_csv('data/employees_attrition_simple.csv')

In [21]:
df.head()

   EmployeeID  Age Department  MonthlyIncome  JobSatisfaction Attrition
0           1   25      Sales           3000                3        No
1           2   34         HR           4000                4       Yes
2           3   28        R&D           3500                2        No
3           4   45      Sales           5000                3        No
4           5   29         HR           4200                4       Yes

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30 entries, 0 to 29
Data columns (total 6 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   EmployeeID       30 non-null     int64
 1   Age              30 non-null     int64
 2   Department       30 non-null     object
 3   MonthlyIncome    30 non-null     int64
 4   JobSatisfaction  30 non-null     int64
 5   Attrition        30 non-null     object
dtypes: int64(4), object(2)
memory usage: 1.5+ KB

In [23]:
df.describe()

       EmployeeID        Age  MonthlyIncome  JobSatisfaction
count   30.000000  30.000000      30.000000        30.000000
mean    15.500000  35.566667    4276.666667         2.800000
std      8.803408   7.672986     810.037604         0.961321
min      1.000000  24.000000    3000.000000         1.000000
25%      8.250000  29.000000    3562.500000         2.000000
50%     15.500000  34.500000    4250.000000         3.000000
75%     22.750000  41.750000    4937.500000         3.750000
max     30.000000  50.000000    5750.000000         4.000000

In [24]:
df.isnull().sum()

EmployeeID         0
Age                0
Department         0
MonthlyIncome      0
JobSatisfaction    0
Attrition          0
dtype: int64

In [25]:
df.duplicated().sum()

np.int64(0)

In [26]:
df.dtypes

EmployeeID          int64
Age                 int64
Department         object
MonthlyIncome       int64
JobSatisfaction     int64
Attrition          object
dtype: object

In [28]:
x = df.drop('Attrition', axis=1)

In [29]:
y = df['Attrition']

In [30]:
from sklearn.model_selection import train_test_split

In [31]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42, stratify=y)