In [3]:
#dataset link : https://www.kaggle.com/datasets/kundanbedmutha/exam-score-prediction-dataset

In [6]:
#importation de la librairie pandas

In [4]:
import pandas as pd

In [7]:
#importation du dataset

In [8]:
df = pd.read_csv("Exam_Score_Prediction.csv")

In [10]:
#afficher les 5 premieres lignes

In [11]:
df.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7

In [13]:
#afficher la somme des valeurs manquantes si elles existent

In [14]:
df.isnull().sum()

student_id          0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [15]:
# the feature here is exam_score

In [16]:
#on separe feature et target

In [17]:
x = df.drop("exam_score", axis=1)

In [18]:
y = df["exam_score"]

In [19]:
#on donne 80% du data pour le training et 20% pour le teste

In [20]:
#on importe la librairie

In [21]:
from sklearn.model_selection import train_test_split

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_test=42)