In [77]:
#dataset link : https://www.kaggle.com/datasets/kundanbedmutha/exam-score-prediction-dataset

In [78]:
#importation des librairies pandas et numpy

In [79]:
import pandas as pd

In [80]:
import numpy as np

In [81]:
#importation du dataset

In [82]:
df = pd.read_csv("Exam_Score_Prediction.csv")

In [83]:
#afficher les 5 premieres lignes

In [84]:
df.head()

,student_id,age,gender,course,study_hours,class_attendance,internet_access,sleep_hours,sleep_quality,study_method,facility_rating,exam_difficulty,exam_score
0,1,17,male,diploma,2.78,92.9,yes,7.4,poor,coaching,low,hard,58.9
1,2,23,other,bca,3.37,64.8,yes,4.6,average,online videos,medium,moderate,54.8
2,3,22,male,b.sc,7.88,76.8,yes,8.5,poor,coaching,high,moderate,90.3
3,4,20,other,diploma,0.67,48.4,yes,5.8,average,online videos,low,moderate,29.7
4,5,20,female,diploma,0.89,71.6,yes,9.8,poor,coaching,low,moderate,43.7

In [85]:
#afficher la somme des valeurs manquantes si elles existent

In [86]:
df.isnull().sum()

student_id          0
age                 0
gender              0
course              0
study_hours         0
class_attendance    0
internet_access     0
sleep_hours         0
sleep_quality       0
study_method        0
facility_rating     0
exam_difficulty     0
exam_score          0
dtype: int64

In [87]:
#afficher les types des données

In [88]:
df.dtypes

student_id            int64
age                   int64
gender               object
course               object
study_hours         float64
class_attendance    float64
internet_access      object
sleep_hours         float64
sleep_quality        object
study_method         object
facility_rating      object
exam_difficulty      object
exam_score          float64
dtype: object

In [98]:
#appliquer la transformation one hot encoding

In [99]:
from sklearn.preprocessing import OneHotEncoder

# Colonnes à encoder
cols_to_encode = ['gender', 'course', 'internet_access','sleep_quality','study_method','facility_rating','exam_difficulty']

encoder = OneHotEncoder(sparse_output=False)  # pour obtenir un tableau au lieu d'une matrice

# Fit & transform
encoded_array = encoder.fit_transform(df[cols_to_encode])

# Récupérer les noms de colonnes
column_names = encoder.get_feature_names_out(cols_to_encode)

# Créer un DataFrame encodé
df_encoded = pd.DataFrame(encoded_array, columns=column_names)

df_final = pd.concat([df.drop(columns=cols_to_encode), df_encoded], axis=1)

In [104]:
encoded_array

array([[0., 1., 0., ..., 0., 1., 0.],
       [0., 0., 1., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.],
       ...,
       [0., 0., 1., ..., 1., 0., 0.],
       [0., 1., 0., ..., 0., 0., 1.],
       [0., 1., 0., ..., 0., 0., 1.]])

In [105]:
column_names

array(['gender_female', 'gender_male', 'gender_other', 'course_b.com',
       'course_b.sc', 'course_b.tech', 'course_ba', 'course_bba',
       'course_bca', 'course_diploma', 'internet_access_no',
       'internet_access_yes', 'sleep_quality_average',
       'sleep_quality_good', 'sleep_quality_poor',
       'study_method_coaching', 'study_method_group study',
       'study_method_mixed', 'study_method_online videos',
       'study_method_self-study', 'facility_rating_high',
       'facility_rating_low', 'facility_rating_medium',
       'exam_difficulty_easy', 'exam_difficulty_hard',
       'exam_difficulty_moderate'], dtype=object)

In [106]:
df_encoded

,gender_female,gender_male,gender_other,course_b.com,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,...,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_high,facility_rating_low,facility_rating_medium,exam_difficulty_easy,exam_difficulty_hard,exam_difficulty_moderate
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
19996,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
19997,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
19998,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
19999,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [107]:
df_final

,student_id,age,study_hours,class_attendance,sleep_hours,exam_score,gender_female,gender_male,gender_other,course_b.com,...,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_high,facility_rating_low,facility_rating_medium,exam_difficulty_easy,exam_difficulty_hard,exam_difficulty_moderate
0,1,17,2.78,92.9,7.4,58.9,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,2,23,3.37,64.8,4.6,54.8,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,3,22,7.88,76.8,8.5,90.3,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,4,20,0.67,48.4,5.8,29.7,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,5,20,0.89,71.6,9.8,43.7,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19995,19997,18,6.50,71.3,5.0,86.5,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0
19996,19998,18,3.71,41.6,5.9,60.9,0.0,1.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
19997,19999,19,7.88,68.2,4.6,64.5,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
19998,20000,19,4.60,76.3,6.1,79.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
19999,20001,20,7.50,47.9,7.5,71.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [108]:
pd.set_option('display.max_columns', None)

In [109]:
df_final.head()

,student_id,age,study_hours,class_attendance,sleep_hours,exam_score,gender_female,gender_male,gender_other,course_b.com,course_b.sc,course_b.tech,course_ba,course_bba,course_bca,course_diploma,internet_access_no,internet_access_yes,sleep_quality_average,sleep_quality_good,sleep_quality_poor,study_method_coaching,study_method_group study,study_method_mixed,study_method_online videos,study_method_self-study,facility_rating_high,facility_rating_low,facility_rating_medium,exam_difficulty_easy,exam_difficulty_hard,exam_difficulty_moderate
0,1,17,2.78,92.9,7.4,58.9,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0
1,2,23,3.37,64.8,4.6,54.8,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,3,22,7.88,76.8,8.5,90.3,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
3,4,20,0.67,48.4,5.8,29.7,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0
4,5,20,0.89,71.6,9.8,43.7,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0

In [118]:
#separer feature et target

In [110]:
X = df_final.drop('exam_score', axis = 1)

In [112]:
y = df_final[['exam_score']]

In [120]:
#separer les données en partie teste 20% et partie train 80%

In [119]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [126]:
#appliquer la regression lineaire

In [127]:
from sklearn.linear_model import LinearRegression

In [128]:
#entrainer le model

In [129]:
model = LinearRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

In [130]:
#evaluer la performance

In [131]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [132]:
y_pred = model.predict(X_test)

In [133]:
mae = mean_absolute_error(y_test, y_pred)
print(f"Mean Absolute Error (MAE): {mae}")
mse = mean_squared_error(y_test, y_pred)
print(f"Mean Squared Error (MSE): {mse}")
r2 = r2_score(y_test, y_pred)
print(f"R² Score: {r2}")

Mean Absolute Error (MAE): 7.863361099903504
Mean Squared Error (MSE): 95.5035942127773
R² Score: 0.7330042201788767